<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daxil ol - Köməkçi Sistemi</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Serverdən gələn API dəyişənləri -->
    <script>
      //   const KOMEKCI_SISTEMI_API = "<%= KOMEKCI_SISTEMI_API %>";
      const KOMEKCI_SISTEMI_API = "http://portal.mnbq.local:4000/api"
      //   const PORTAL_API = "<%- PORTAL_API %>";
    </script>

    <script src="js/login.js" defer></script>
</head>
<body class="light-mode">
    <div class="login-container">
        <!-- Tema toggle -->
        <div class="theme-toggle-container">
            <label class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider round"></span>
            </label>
        </div>

        <!-- Loqo -->
        <div class="logo-group">
            <img src="images/logo.png" alt="Main Logo" class="logo main-logo">
            <img src="images/mn.png" alt="Secondary Logo" class="logo secondary-logo">
        </div>

        <!-- Login box -->
        <div class="login-box">
            <h2>Köməkçi Sisteminə Xoş Gəlmisiniz!</h2>
            <p>Hesaba daxil ol</p>

            <form id="loginForm">
                <div class="input-group">
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>

                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>

                <div class="options-group" style="justify-content: flex-start; margin-top: -15px;">
                    <div class="remember-me">
                        <input type="checkbox" id="ldapLogin">
                        <label for="ldapLogin">İnternet istifadəçisi kimi</label>
                    </div>
                </div>

                <button type="submit" class="login-button">Daxil ol</button>
            </form>
        </div>
    </div>
</body>
</html>
